* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: montserrat, sans-serif;
    background-color: #2A2A2E;
    color: #6C6D70;
}
h1, h2, h3, h4 {
    color: #3E3E3F;
    font-weight: 800;
}

p{
    font-weight: 500;
    line-height: 1.6;
}
strong{
    font-weight: 500;
}
.wrapper{
    width: 100%;
    max-width: 1400px;
    background-color: #fff;
    margin: auto;
    overflow: hidden;
}
.container {
    width: 75%;
    margin: auto;
}
header{
    margin-bottom: 12%;
    text-align: center;
}
header img{
    width: 160%;
    margin-left: -30%;
}
header h1{
    font-size: 1.6em;
    margin: 10% 0 -12%;
}
header h2{
    font-size: 2em;
    margin: -9% 0 7% 0;
}
header p{
    font-weight: 400;
    font-size: 1.15em;
    line-height: 1.3;
}

header p strong {
    font-weight: 600;
}
main .image{
    text-align: center;
}
video{
    width: 100%;
    height: auto;
}
#tip{
    text-align: center;
    background-image: url("/assets/Q1_newsletter-02.png");
    background-size: cover;
    background-position: top center;
}
#tip h2{
    font-size: 2.5em;
}
#tip p {
    margin-bottom: 0;
}
footer{
    padding: 3% 0;
    background: #231F20;
    color: #fff;
}
footer h3{
    color: #fff;
}